body{
	margin:0;
	}
#upper_nav{
	color:black;
	font-size:16px;
	display:block;
	font-family:cursive;
	border-right:1px dotted black;
}
#upper_nav:hover{
	color:red;
	text-decoration:none;
	background-color:white;
	transition:0.3s;
}

.care{
	color:tomato;
	font-size:21px;
}
.col-md-3 a{
	color:white;
}

.col-md-3 a:hover{
	color:white;
}

#upper_nav2{
	color:black;
	font-size:18px;
	display:block;
	font-family:arial;
	border-right:1px solid white;
	font-weight:bold;
}
#upper_nav2:hover{
	text-decoration:none;
	background-color:#003300;
	color:white;
	transition:0.3s;
}
#upper_nav2 i{
	font-size:30px;
	padding-left:6px;
	padding-bottom:5px;
}
.dropbtn {
  background-color: #ffad33;
  color: black;
  padding: 16px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-weight:bold;
}

.dropdown {
  position: relative;
  display: inline-block;
  float:left;
  z-index:10;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100000;
  border:2px solid red;
  width:223px;
}

.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  font-size:16px;
  display: block;
  text-align:center;
  width:220px;
  border:1px solid red;
}

.dropdown-content a:hover{
	background-color: #009c89;
	text-decoration:none;
	color:white;
	}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: #003300;
  color:white;
}




.cover{
	height:500px;
}

#covertext{
	font-size:40px;
	color:white;
	text-align:center;
	font-weight:bold;
	padding:12% 20%;
	background-color:rgba(62, 111, 115, 0.7);
}
#covertext2{
	font-weight:10;
	font-size:30px;
	text-align:center;
	font-style:italic;
}
#heading{
	font-family:Arial Black;
	text-transform:uppercase;
	letter-spacing:-2px;
	text-align:center;
	font-weight:900;
	font-size:45px;
	transform: scale(0.8, 1.5);
	color:#1a91b3;
}
h4{
	text-align:center;
}

#six_parts{
	height:auto;
	width:88%;
}

.col-md-6{
	font-size:25px;
	margin-bottom:30px;
}

.col-md-12 i{
	font-size:50px;
	margin-right:10px;
	float:left;
	padding-top:8px;
	padding-left:10px;
	color:tomato;
}
#plus{
	border:2px solid tomato;
	padding:7px 8px;
	border-radius:50%;
} 

.col-md-12 p{
	padding-top:15px;
}
.col-md-12{
	width:94%;
	height:90px;
	margin-right:5%;
	border:2px solid #a6a6a6;
	border-radius:10px;
	padding:12px 0px;
}
.step1 img{
	height:500px;
	width:100%;
	margin-bottom:10px;
}
.step2 img{
	height:300px;
	width:100%;
	margin-bottom:10px;
}

.step3 img{
	height:500px;
	width:100%;
	margin-bottom:20px;
}

.step4 img{
	height:180px;
	width:100%;
	margin-bottom:50px;
}

#contactus a{
	width:200px;
	display:block;
	border:1px dotted black;
	border-radius:5px;
	font-size:22px;
	font-weight:bold;
	padding:12px 10px;
	background-color:#ffad33;
	color:white;
}

#contactus a:hover{
	text-decoration:none;
	background-color:#ffb84d;
	color:black;
	transition:0.6s;
}

.step5{
	height:500px;
	width:100%;
	background-color:#065d78;
}

.university_name{
	color:white;
	font-weight:bold;
	text-align:center;
	font-size:50px;
	padding-top:60px;
}

.slogan{
	color:white;
	text-align:center;
	font-size:30px;
	padding-top:20px;
	padding-bottom:70px;
	font-style:italic;
}
























.footer_1st{
	background-color:#2e2e54;
	width:100%;
	height:auto;
	padding:20px 0px;
}


.footer_1st_daraz_logo{
	height:120px;
	width:auto;
	float:left;
	margin-left:20px;
	padding-top:20px;
}
.footer_1st_daraz_logo p{
	color:white;
}
.footer_middle{
	padding:20px 0px;
	background-color:white;
}
.footer_middle_header{
	font-size:20px;
}
.footer_middle_footer{
	font-size:20px;
	float:left;
}
.footer_last{
	padding:20px 0px;
	background-color:#f1f1f1;
}
.footer_last_header{
	font-size:18px;
}
.footer_subheader{
	font-size:14px;
	text-decoration:underline;
}
.footer_details{
	font-size:13px;
	line-height:1.5;
}





